{% extends 'base_generic.html' %}

{% block content %}
    <div>
        <h1>LIST OF QUESTIONS IN SYSTEM</h1>
    <h1>Tag {{ asd }}</h1>

        {% if question_list %}
            {% for question in question_list %}
                <div class="card mb-3">
                    <a href="{{ question.get_absolute_url }}" class="custom-card">
                        <div class="card-header">
                            <p>{{ question }}</p>
                        </div>
                    </a>
                    <a href="{{ question.get_absolute_url }}" class="custom-card">
                        <div class="card-body">
                            <p>{{ question.description }}</p>
                        </div>
                    </a>
                    <div class="card-footer">
                        {#                        <button type="submit" class="btn btn-danger">Submit</button>#}
                        <p class="card-text">
                            {% for tag in question.tags.all %}
                                <a href="{% url 'question_list' %}?tag={{tag}}">{{ tag }}</a>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <p>No questions are available.</p>
        {% endif %}
    </div>
{% endblock %}