{% extends "base_generic.html" %}

{% block title %} Dashboard {% endblock %}
{% block content %}
    {% if not request.user.is_staff %}
        <h1>DASHBOARD</h1>
        <h1>{{ request.user.person.name }} {{ request.user.person.surname }}</h1>
        <h3>RATING: {{ user.person.rating }}</h3>
        <a href="{% url 'person_update' %}">EDIT PERSONAL</a>

        {% for question in user.person.question_set.all %}
            <a href="{{ question.get_absolute_url }}" class="custom-card">
                <div class="media mb-3">
                    <div class="card-body">
                        <h3>{{ question }}</h3>
                        <p>{{ question.description }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}


    {% else %}
        <a href="#">NEW QUESTION</a>
    {% endif %}
{% endblock %}