{% extends "base_generic.html" %}

{% block title %} Dashboard {% endblock %}
{% block content %}
    {% if not request.user.is_staff %}
        <p>Dashboard for <a href="{{ request.user.person.get_absolute_url }}"> {{ request.user.person }}</a></p>
        <a href="{% url 'person_update' %}">EDIT PERSONAL</a>
        {#    <a class="card-link" href="{% url 'person_update' %}"> EditPersonal</a>#}
        {#    <a href="{{ user.person.get_absolute_url }}">{{ user.person.name }}</a>#}
        {% if request.user.person.question_set %}
            <ul>
                {% for question in request.user.person.question_set.all %}
                    <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No questions</p>
        {% endif %}
    {% else %}
        <a href="#">NEW QUESTION</a>
    {% endif %}
{% endblock %}